<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nus.zkk.bodhifiles_system.mapper.FileInfoMapper">
    <!-- 查询用户文件列表 -->
    <select id="getFilesByUserId" resultType="com.nus.zkk.bodhifiles_system.entity.FileInfo">
        SELECT *
        FROM file_info
        WHERE user_id = #{userId}
    </select>

    <select id="getFilesById" resultType="com.nus.zkk.bodhifiles_system.entity.FileInfo">
        SELECT
            id,
            name,
            path,
            absolute_path,
            type,
            is_md,
            offset,
            cur_child,
            url
        FROM file_info
        WHERE id = #{id}
    </select>

    <insert id="insertFileInfo" parameterType="map">
        INSERT into file_info(user_id, path, parent_id, absolute_path, name,type)
        values (#{userId}, #{path}, #{parentId}, #{absolutePath}, #{name},#{type})
    </insert>


</mapper>
