<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nus.zkk.bodhifiles_system.mapper.FileInfoMapper">
    <!-- 查询用户文件列表 -->
    <select id="getFilesByUserId" resultType="com.nus.zkk.bodhifiles_system.entity.FileInfo">
        SELECT
            id,
            user_id,
            parent_id,
            TENANT_ID,
            REVISION,
            CREATED_BY,
            CREATED_TIME,
            UPDATED_BY,
            UPDATED_TIME,
            url,
            name,
            file_name,
            suffix,
            is_img,
            size,
            type,
            put_time,
            is_dir,
            source
        FROM file_info
        WHERE user_id = #{userId}
    </select>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, parent_id, TENANT_ID, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, url, name, file_name, suffix, is_img, size, type, put_time, is_dir, source
    </sql>

</mapper>
